<style>
           hr.type_10 {
            border: 0;
            height: 41px;
            background-image: url(background/hr_type.png);
            background-repeat: repeat;
            
            }
          .mb-1{
              text-transform: uppercase;
          }
          li.active1{
              background-color: aqua;
          }
          .text_header{
              font-size: 30px;
              text-align: left;
              margin-left: 10px;
              margin-top: 10px;
          }
          p.text_header{
              color: black;
          }
          .header{
              font-size: 40px;
          }
          .text_info{
                  font-size: 17px;
                margin-top: 10px;
                line-height: 1.7;
              }
            
          .list-group-item-header{
              text-transform: uppercase;
          }
            
            .list-group-item{
                background-color:#dddddd;
                margin-top:2px;
            }
            .list-group-item:hover{
                background-color: #eeeeee;
            }
             .button {
                background-color: red; /* Green */
                border: none;
                color: white;
                padding: 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 10px;
                cursor: pointer;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
            }

            .button1 {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            }
            div.download {
                background-color: #e6e6e6;
                border: 1px solid #b3b3b3;
                border-left: 4px solid red;
                padding: 10px 20px 10px 20px;
                margin: 20px 25px 20px 25px; 
            }
          
          .dropdown-toggle{
              font-size: 18px;
          }
          .dropdown-toggle:hover{
              border-bottom: 5px solid #008ae6;
          }
          .dropdown:hover{
              
              background-color: white;
          }
          .navbar{
              box-shadow: 2px 4px 20px red;
          }
        .logo{
            margin-top:100px;
            margin-left:20px;
            margin-bottom:10px;
            }
          @media (max-width:500px){
              .logo{
                  content:url(Logo.png);
              }
              .container{
                  margin: 0px;
                  padding: 0px;
              }
              .navbar-brand{
                  font-size: 14px;
                  padding-left: 30px;
              }
              .nav{
                  font-size: 14px;
                  padding-left: 30px;
                  padding-right: 30px;
              }
              .text_header{
                  font-size: 20px;
                  margin-left: 0px;
                  margin-right: 0px;
                  padding-left: 10px;
                  padding-right: 10px;
                  margin-top: 20px;
              }
              .header{
                  font-size: 30px;
                  margin-left: 0px;
                  margin-right: 0px;
                  padding-left: 10px;
                  padding-right: 10px;
                  margin-top: 20px;
              }
              p.header{
              color: black;
                  text-shadow: none;}
              div.download {
                background-color: #e6e6e6;
                border: 1px solid #b3b3b3;
                border-left: 4px solid red;
                padding: 4px 4px 4px 8px;
                margin-left: 0px;
                margin-right: 0px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
          }
             
              @media (max-width:400px){
                .logo{
                  content:url(Logo_too_small.png);
                  }
                  
              }
              @media (max-width:300px){
                .logo{
                  content:url(Logo_too_small_1.png);
                    margin-top: 200px;
                  }
              }
              .text_info{
                  font-size: 17px;
              }
          
      </style>